<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <!--including bootstrap-->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap/css/custom-style.css' %}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        {% block additional_styles %}

        {% endblock %}
    </head>
    <body>


        {% block page_body %}



        {% endblock %}



        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/countup.js' %}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        {% block additional_scripts %}

        {% endblock %}

    </body>


</html>