{% extends 'base_internal_dashboard_structure.html' %}
{% load staticfiles %}

{% block additional_styles %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src=" {% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static '/js/nav_menu.js' %}"></script>
    <link href="{% static 'css/chart-1.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_body %}
    {% include "components/base_header.html" %}
    <main>
        <h2>MOST PROMINENT CRIMES</h2>
        <div id="chart-1">{{total |safe}}</div>
    </main>
{% endblock %}


{% block additional_scripts %}

{% endblock %}
