{% load staticfiles %}

<html>
    <title>Filters</title>
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src=" {% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>
</head>
<body>
    <div>
        <select>
            <option>Choose State</option>
            <option value="total">Overall</option>
            <option value="goa">Goa</option>
            <option value="assam">Assam</option>
        </select>
    </div>
    <div class="total box" id="chart-total">{{total | safe}}</div>
    <div class="goa box" id="chart-goa">{{goa | safe}}</div>
    <div class="assam box" id="chart-assam">{{assam | safe}}</div>
</body>
</html>