



</head>
<body class="app">
<div id='loader'>
      <div class="spinner"></div>
    </div>



    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



</body>
</html>

{% extends 'base_internal_dashboard_structure.html' %}
{% load staticfiles %}

{% block additional_styles %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chart.css' %}"/>

    <script type="text/javascript" src=" {% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
{% endblock %}

{% block page_body %}
    {% include "components/base_header.html" %}
        <main class="container-fluid">

            <div class="row">
                <div class="col-2 left-sidebar">
                     <fieldset id="selected-state-crime">
                        <p><b><u> CURRENT FILTER</u></b> <br><b>STATE: </b> {{state}} <br><b> CRIME: </b> {{crime}}</p>
                     </fieldset>

                    <form action="{% url 'predict_graph' %}" method="get" class="controls" id="filters">
                            <h5>Filters</h5>
                            <div class="form-group">
                                    <label for="state-select">Select State</label>
                                    <select id="state-select" name="state" class="form-control">
                                        <option value="none">Choose State</option>
                                        <option value="total" selected="selected">Overall</option>
                                        <option value="goa">Goa</option>
                                        <option value="assam">Assam</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                    <label for="crime-select">Select Crime Type</label>
                                    <select id="crime-select" name="crime" class="form-control">
                                        <option value="none">Choose Crime</option>
                                        <option value="total" selected="selected">Overall</option>
                                        <option value="rape">Rape</option>
                                        <option value="kidnap">Kidnapping and Abduction</option>
                                    </select>
                            </div>
                            <button type="submit" class="btn btn-info mb-2 col-8 offset-2" name="mybtn" value="Select">Select</button>

                        <br><br>
                        <div>
                            <div class="swanky_title__social">
                                    <a href = "{%url 'most_prominent_city'%} " target='_blank'>
                                    <div class='slide'>
                                      <div class='arrow'>
                                        <div class='stem'></div>
                                        <div class='point'></div>
                                      </div>
                                    </div>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Most prominent cities</a>
                            </div>

                            <div class="swanky_title__social">
                                    <div><a href = "{%url 'most_prominent_crime'%}" target='_blank'><div class='slide'>
                                      <div class='arrow'>
                                        <div class='stem'></div>
                                        <div class='point'></div>
                                      </div>
                                    </div>
                                        <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Most prominent crimes
                                    </a>
                                    </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-10">
                    <div class="total box" id="chart-1">{{total | safe}}</div>

                </div>
            </div>



        </main>

{% endblock %}


{% block additional_scripts %}
    <script>
      window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
          loader.classList.add('fadeOut');
        }, 300);
      });
    </script>
{% endblock %}
