<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <title>Rakshak</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
 <style>
   a.notif {
  position: relative;
  display: block;
  height: 50px;
  width: 50px;
  background: url('http://i.imgur.com/evpC48G.png');
  background-size: contain;
  text-decoration: none;
  float:right
}
.num {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #fff;
}
 </style>

  </head>

  <body>
    <div id="filter" >

      <form action="{% url 'request_page' %}" method="GET">
        <h3>FILTERS</h3>
        <div style="float: left; width: 50%; margin-right:10px; ">
          <h4>Crime Wise</h4>
          <input type="checkbox" name="crime" value="theft" class="box">THEFT<br>
          <input type="checkbox" name="crime" value="kidnap" class="box">KIDNAPPING <br>
        </div>
        <div  style="float: left; width: 50%; margin-left:10px;">
          <h4>Date</h4>
          Start Date: <input type="date" name="date_crime_start"><br>
          End Date :  <input type="date" name="date_crime_end"><br>
        </div>
        <div style="float: left; width: 50%; margin-right:10px;">
          <h4>Crime Status</h4>
          <input type="checkbox" name="status" value="lodged" class="box">LODGED<br>
          <input type="checkbox" name="status" value="pending" class="box"> PENDING<br>
          <input type="checkbox" name="status" value="investigated" class="box">INVESTIGATED<br>
          <input type="checkbox" name="status" value="evidence_collection" class="box">EVIDENCE COLLECTION<br>
          <input type="checkbox" name="status" value="moved" class="box">MOVED TO COURT<br>
          <input type="checkbox" name="status" value="closed" class="box">CLOSED<br>
          <input type="submit" value="Submit" name="mybtn" class="box button">
        </div>
      </form>

      <div id="receive_app">
      <a href="{% url 'receive_alert' %}">Receive alert</a>


      <div id="notifications">
         <a href="{% url 'notifications' %}" class="notif"><span class="num">20</span></a>

    </div>
    </div>
      <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address" type="text" name="address"></input>
    </div>

      <!--<div onclick="start_selection()">
         <button type="button">Click to select an area!</button>
      </div>-->
     <!-- <div id="analyse_selected_area" onclick="circleMake()">
         <button type="button">Click to analyse selected area!</button>
      </div>-->
    </div>

    <div id="map"></div>
    <div id="report">
      <a href="{% url 'report' %}">Report</a>
    </div>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>


   <script>
    var map, bounds,donut,marker1;
    var user_lat = 20.5937, user_long = 78.9629;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: user_lat, lng: user_long}
        });
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var geocoder = new google.maps.Geocoder;
        var markers = locations.map(function(location, i) {
            var latlng = {lat: parseFloat(location.fields.LAT), lng: parseFloat(location.fields.LNG)};
            var latlng1 = {lat: location.fields.LAT, lng: location.fields.LNG};
            var marker =  new google.maps.Marker({
                position: latlng1,
                title : location.fields.CRIME_TYPE,
                label: labels[i % labels.length],
            });
            context = {status_obj : location,}
            marker.addListener('click', function() {
                geocoder.geocode({'location': latlng}, function(results, status) {
                    var url="/crime_status/?crime_id="+location.pk;
                    infowindow.setContent("<div id='pop_up'> <b>CRIME: </b>"+location.fields.CRIME_TYPE+"<br><b>STATUS: </b><a href="+url+">click</a><br><b>AREA: </b>"+results[0].formatted_address+"</div>");
                    infowindow.open(map, marker);
                });
            });
            return marker;
        });
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '</div>'+
            '</div>';
        var infowindow = new google.maps.InfoWindow({content: contentString});
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    var locations =JSON.parse( '{{ report|escapejs }}');
    console.log(locations);
     var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };
      function initAutocomplete() {
          var options={
              componentRestrictions:{country:"ind"}
          };

          var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input,options);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            console.log(place.geometry.location.lat());
            console.log(place.geometry.location.lng());
            circleMake(place.geometry.location.lat(),place.geometry.location.lng());
        });
        }
         function drawCircle(point, radius, dir) {
      var d2r = Math.PI / 180;   // degrees to radians
      var r2d = 180 / Math.PI;   // radians to degrees
      var earthsradius = 396300; // 3963 is the radius of the earth in miles
         var points = 32;
         // find the raidus in lat/lon
         var rlat = (radius / earthsradius) * r2d;
         var rlng = rlat / Math.cos(point.lat() * d2r);
         var extp = new Array();
         if (dir==1)	{var start=0;var end=points+1} // one extra here makes sure we connect the
         else		{var start=points+1;var end=0}
         for (var i=start; (dir==1 ? i < end : i > end); i=i+dir)
         {
            var theta = Math.PI * (i / (points/2));
            ey = point.lng() + (rlng * Math.cos(theta)); // center a + radius x * cos(theta)
            ex = point.lat() + (rlat * Math.sin(theta)); // center b + radius y * sin(theta)
            extp.push(new google.maps.LatLng(ex, ey));
            bounds.extend(extp[extp.length-1]);
         }
         // alert(extp.length);
         return extp;
   }
        function circleMake(lat,lng){
          var lineSymbol = {
        path: 'M 0,-1 0,1',
        strokeOpacity: 1,
        scale: 4
      };
        bounds = new google.maps.LatLngBounds();
        if(donut){
            marker1.setMap(null);
             donut.setMap(null);
        }
        donut = new google.maps.Polyline({
                       path: drawCircle(new google.maps.LatLng(lat,lng), 100, 1),
                       strokeOpacity: 0,
                        icons: [{
                               icon: lineSymbol,
                               offset: '0',
                               repeat: '20px'
                             }],
                       strokeWeight: 2,
                       fillColor: "#FF0000",
                       fillOpacity: 0.35,
           });
            var myCenter = new google.maps.LatLng(lat,lng);
           marker1 = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
  marker1.setMap(map);
           donut.setMap(map);
        map.fitBounds(bounds);
        }
function initialize() {
   initMap();
   initAutocomplete();
}
    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA72RxHoUnAPfspsUxDgVykHK2ONPIckc&signed_in=true&libraries=places&callback=initialize" async defer></script>
  </body>

</html>