{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rakshak</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 23.033333, lng: 80.616667}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var geocoder = new google.maps.Geocoder;

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
//            console.log(location.lat);
          var latlng = {lat: parseFloat(location.lat), lng: parseFloat(location.lng)};
          var marker =  new google.maps.Marker({
            position: location,
            title : location.crime,
            label: labels[i % labels.length],
          });

          marker.addListener('click', function() {
              geocoder.geocode({'location': latlng}, function(results, status) {
                console.log(results[0].formatted_address);

          infowindow.setContent("<div id='pop_up'> <b>CRIME: </b>"+location.crime+"<br><b>STATUS: </b>"+location.status+"<br><b>AREA: </b>"+results[0].formatted_address+"</div>");
          infowindow.open(map, marker);
            });
          });
          return marker;
        });


        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 18.975, lng: 72.825833, crime: 'burglary', status:'pending'},
        {lat: 28.666667, lng: 77.216667, crime: 'car break', status:'pending'},
        {lat: 12.983333, lng: 77.583333, crime: 'car break', status:'pending'},
        {lat: 17.375278, lng: 78.474444, crime: 'fraud', status:'pending'},
        {lat: 23.033333, lng: 72.616667, crime: 'fraud', status:'resolved'},
        {lat: 13.083333, lng: 80.283333, crime: 'rape', status:'resolved'},
        {lat: 22.569722, lng: 88.369722, crime: 'burglary', status:'pending'},
        {lat: 20.966667, lng: 72.9, crime: 'rape', status:'resolved'},
        {lat: 18.533333, lng: 73.866667, crime: 'car break', status:'resolved'},
        {lat: 24.583333, lng: 86.85, crime: 'rape', status:'resolved'},
        {lat: 26.85, lng: 80.916667, crime: 'assault', status:'pending'},
        {lat: 26.466667, lng: 80.35, crime: 'fraud', status:'resolved'},
        {lat: 23.3, lng: 82.3, crime: 'rape', status:'moved to court'},
        {lat: 22.716667, lng: 75.833333, crime: 'burglary', status:'pending'},
        {lat: 19.2, lng: 72.966667, crime: 'assault', status:'pending'},
        {lat: 23.266667, lng: 77.4, crime: 'car break', status:'pending'},
        {lat: 17.7, lng: 83.3, crime: 'fraud', status:'moved to court'},
        {lat: 18.6279288, lng: 73.8009829, crime: 'burglary', status:'pending'},
        {lat: 23.3, lng: 82.666667, crime: 'burglary', status:'moved to court'},
        {lat: 22.3, lng: 73.2, crime: 'rape', status:'moved to court'},
        {lat: 28.666667, lng: 77.433333, crime: 'assault', status:'moved to court'},
        {lat: 30.9, lng: 75.85, crime: 'fraud', status:'moved to court'},
        {lat: 27.183333, lng: 78.016667, crime: 'burglary', status:'moved to court'}
      ]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA72RxHoUnAPfspsUxDgVykHK2ONPIckc&callback=initMap">
    </script>
  </body>
</html>