{% extends 'base_internal_dashboard_structure.html' %}
{% load staticfiles %}

{% block additional_styles %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src=" {% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
    <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/nav_menu.css' %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_body %}
    {% include "components/base_header.html" %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-2">
                <h2>MOST PROMINENT CRIMES</h2>

                <form action="{% url 'report'%}" method="get">
                    <div class="form-group">
                        <label for="date_crime_start">Start Date</label>
                        <input type="date" name="date_crime_start" id="date_crime_start"><br>
                    </div>
                     <div class="form-group">
                        <label for="date_crime_end">End Date</label>
                         <input type="date" name="date_crime_end" id="date_crime_end"><br>
                    </div>
                    <input class="btn btn-info" type="submit" value="submit">
                </form>
            </div>
            <div class="col-10">
                <div id="chart-1">{{total | safe }}</div>
                <div id="chart-2">{{piechart | safe }}</div>

            </div>

        </div>
    </main>
{% endblock %}


{% block additional_scripts %}
    <script src="{% static '/js/nav_menu.js' %}"></script>
{% endblock %}
