<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
  <head>
    <style>

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
.first{
     width:70%;
     height:300px;
     position:absolute;
 }
.second{
    width:40%;
    height:200px;
	position: relative;
    top: 315px;
    padding-top:150px;
}
</style>
    <meta charset="UTF-8"/>
    <title>Vertical timeline intervals</title>
    <link rel="stylesheet" href="{% static 'css/status.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>


  </head>
  <body>
  <!--<div>{{details | safe}}</div>-->
    <div class="container">

  <div class="first" id="tables">

    <table>
      <tr>
        <th>NAME</th>
        <th>DETAIL</th>

      </tr>
      <tr>
        <td>CRIME_TYPE</td>
        <td id="field-1"></td>
      </tr>
      <tr>
        <td>FIR LOCATION</td>
        <td id="field-2"></td>
      </tr>
      <tr>
        <td>CRIME DECRIPTION</td>
        <td id="field-3"></td>
      </tr>
      <tr>
        <td>COMPLAINEE</td>
        <td id="field-4"></td>
      </tr>
      <tr>
        <td>DATE OF CRIME</td>
        <td id="field-5"></td>
      </tr>
      <tr>
        <td>TIME OF CRIME</td>
        <td id="field-6"></td>
      </tr>
      <tr>
        <td>PHONE</td>
        <td id="field-7"></td>
      </tr>
    </table>
   </div>
      <div>
      <ul id = "outer_ul" style="float: right;">

      </ul>
</div>


  <div class="second">
    <div>

<i style="font-size: 20pt" class="fas fa-envelope-square" onclick="sendMail()"></i>
</div>
    {% block content %}
<form method="GET" class="post-form" action="{% url 'update_crime'  %}">
  <table>{{form.as_table}}

  </table>
<button type="Submit" class="save btn btn-default">
  Update
</button>
</form>
    <button onclick="upload()">Try it</button></form>
  <div id="uploadFile"></div>
    {% endblock %}
</div>
      </div>
  <script>
    var reports,details;
    function  sendMail() {
        var data="CRIME REPORT%0A%0ACRIME TYPE="+details[0].fields.CRIME_TYPE+"%0AFIR LOC="+details[0].fields.FIR_LOC+"%0ACRIME DESCRIPTION="+details[0].fields.CRIME_DESCRIPTION+"%0ACOMPLAINT_BY= "+details[0].fields.COMPLAINT_BY+"%0ADATE_CRIME="+details[0].fields.DATE_CRIME+"%0ATIME_CRIME"+details[0].fields.TIME_CRIME;
        window.open('mailto:sho@gmail.com?subject=Crime%20Report&body='+data);
//window.open('mailto:test@example.com?subject=subject&body=body');
    }
    $( document ).ready(function() {
        reports =JSON.parse( '{{ reports|escapejs }}');
        details = JSON.parse( '{{ details|escapejs }}');
        var users=JSON.parse( '{{ users|escapejs }}');
        var i;
        console.log(details);
        var f1=document.getElementById("field-1");
        f1.innerHTML=details[0].fields.CRIME_TYPE;
        f1=document.getElementById("field-2");
        f1.innerHTML=details[0].fields.FIR_LOC;
        f1=document.getElementById("field-3");
        f1.innerHTML=details[0].fields.CRIME_DESCRIPTION;
        f1=document.getElementById("field-4");
        f1.innerHTML=details[0].fields.COMPLAINT_BY;
        f1=document.getElementById("field-5");
        f1.innerHTML=details[0].fields.DATE_CRIME;
        f1=document.getElementById("field-6");
        f1.innerHTML=details[0].fields.TIME_CRIME;
        f1=document.getElementById("field-7");
        f1.innerHTML=details[0].fields.PHONE;
        for(i=0;i<reports.length;i++){
          var ul = document.getElementById("outer_ul")
          var li = document.createElement("li");
          var div1 = document.createElement("div");
          var div = document.createElement("div");
          var div4 = document.createElement("div");
          div1.classList.add('title');
          var div2 = document.createElement("div");
          div1.innerHTML = reports[i].fields.CURRENT_STATUS;
          div2.classList.add('info');
          div2.innerHTML = reports[i].fields.DESCRIPTION;
          var j;
          for(j=0;j<users.length;j++)
          {
           if(reports[i].fields.UPDATED_BY==users[j].pk)
              div4.innerHTML = users[j].fields.NAME;
          }
          div4.classList.add('type');
          var date=reports[i].fields.TIME_OF_UPDATE;
          date=date.split("T");
          time=date[1].split("Z");
          var div3 = document.createElement("div");
          var span = document.createElement("span");
          span.classList.add('number');
          var span1 = document.createElement("span");
          var span2 = document.createElement("span");
          span1.innerHTML=date[0]+"\n\n"+time[0];
//          span2.innerHTML=time[0]
          span.appendChild(span1);
//          span.appendChild(span2);
          div3.classList.add('type');
          li.appendChild(div);
          div.appendChild(div1);
          div.appendChild(div2);
          div.appendChild(div3);
          div.appendChild(div4);
          ul.appendChild(li);
          li.appendChild(span);
        }
    });
function upload() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "file");
    var y = document.getElementById("uploadFile");
    if(!document.getElementById("uploadFile").hasChildNodes())
      y.appendChild(x);
}
  </script>
  </body>
</html>