{% load staticfiles %}
{% block additional_styles %}
    <link href="{% static 'components/map_functionality/map_stats.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

<div class="row map-reports" id="report">
      <a href="{% url 'report' %}">Report</a>
        <p>{{l}}</p>

        <div class="row">
            <div class="report-stat">
                <span class="report-stat__number">5238</span>
                <span class="report_stat__name">Some Stat</span>
            </div>


        </div>

    </div>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA72RxHoUnAPfspsUxDgVykHK2ONPIckc&signed_in=true&libraries=places&callback=initialize" async defer></script>

   <script>
          var map, bounds,donut,marker1;
             function initMap() {
              var user_lat = parseFloat(sessions[0].fields.POLICE_STATION_LAT)  , user_long = parseFloat(sessions[0].fields.POLICE_STATION_LNG);
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: {lat: user_lat, lng: user_long}
                });
                circleMake(user_lat,user_long);
                var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                var geocoder = new google.maps.Geocoder;
                var markers = locations.map(function(location, i) {
                    var latlng = {lat: parseFloat(location.fields.LAT), lng: parseFloat(location.fields.LNG)};
                    var latlng1 = {lat: location.fields.LAT, lng: location.fields.LNG};
                    var marker =  new google.maps.Marker({
                        position: latlng1,
                        title : location.fields.CRIME_TYPE,
                        label: labels[i % labels.length],
                    });
                    context = {status_obj : location,}
                    marker.addListener('click', function() {
                        geocoder.geocode({'location': latlng}, function(results, status) {
                            var url="/crime_status/?crime_id="+location.pk;
                            infowindow.setContent("<div id='pop_up'> <b>CRIME: </b>"+location.fields.CRIME_TYPE+"<br><b>STATUS: </b><a href="+url+">click</a><br><b>AREA: </b>"+results[0].formatted_address+"</div>");
                            infowindow.open(map, marker);
                        });
                    });
                    return marker;
                });
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
                    '<div id="bodyContent">'+
                    '</div>'+
                    '</div>';
                var infowindow = new google.maps.InfoWindow({content: contentString});
                var markerCluster = new MarkerClusterer(map, markers,
                    {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
            }

             var locations =JSON.parse('{{ report|escapejs }}');
             var sessions = JSON.parse('{{ sessions|escapejs }}');
             console.log(sessions);
             var placeSearch, autocomplete;
              var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
              };
              function initAutocomplete() {
                  var options={
                      componentRestrictions:{country:"ind"}
                  };

                  var input = document.getElementById('autocomplete');
                var autocomplete = new google.maps.places.Autocomplete(input,options);
                google.maps.event.addListener(autocomplete, 'place_changed', function () {
                    var place = autocomplete.getPlace();
                    console.log(place.geometry.location.lat());
                    console.log(place.geometry.location.lng());
                    circleMake(place.geometry.location.lat(),place.geometry.location.lng());
                });
                }
                 function drawCircle(point, radius, dir) {
              var d2r = Math.PI / 180;   // degrees to radians
              var r2d = 180 / Math.PI;   // radians to degrees
              var earthsradius = 3984000; // 3963 is the radius of the earth in miles
                 var points = 32;
                 // find the raidus in lat/lon
                 var rlat = (radius / earthsradius) * r2d;
                 var rlng = rlat / Math.cos(point.lat() * d2r);
                 var extp = new Array();
                 if (dir==1)	{var start=0;var end=points+1} // one extra here makes sure we connect the
                 else		{var start=points+1;var end=0}
                 for (var i=start; (dir==1 ? i < end : i > end); i=i+dir)
                 {
                    var theta = Math.PI * (i / (points/2));
                    ey = point.lng() + (rlng * Math.cos(theta)); // center a + radius x * cos(theta)
                    ex = point.lat() + (rlat * Math.sin(theta)); // center b + radius y * sin(theta)
                    extp.push(new google.maps.LatLng(ex, ey));
                    bounds.extend(extp[extp.length-1]);
                 }
                 // alert(extp.length);
                 return extp;
           }
                function circleMake(lat,lng){
                  var lineSymbol = {
                path: 'M 0,-1 0,1',
                strokeOpacity: 1,
                scale: 4
              };
                bounds = new google.maps.LatLngBounds();
                if(donut){
                    marker1.setMap(null);
                     donut.setMap(null);
                }
                donut = new google.maps.Polyline({
                               path: drawCircle(new google.maps.LatLng(lat,lng), 100, 1),
                               strokeOpacity: 0,
                                icons: [{
                                       icon: lineSymbol,
                                       offset: '0',
                                       repeat: '20px'
                                     }],
                               strokeWeight: 2,
                               fillColor: "#FF0000",
                               fillOpacity: 0.35,
                   });
                    var myCenter = new google.maps.LatLng(lat,lng);
                   marker1 = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
          });
          marker1.setMap(map);
                   donut.setMap(map);
                map.fitBounds(bounds);
                }
        function initialize() {
           initMap();
           initAutocomplete();
        }




    </script>
